.challenge {
  display: grid;
  width: 1000px;
  margin: 30px auto;

  //header smallbox mainContent footer
  grid-template-rows: 100px 200px 400px 100px;

  grid-template-columns: repeat(3, 1fr) 200px;

  & > * {
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
}
